table {
    border: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}

tr {
    margin: 0;
    padding: 0;
}

td {
}

label {
    background-color: lightgrey;
    display: inline-block;
    width: 120px;
}

input {
    height: 14px;
    margin: 0;
    padding: 0;
    width: 110px;
    border: 0;
    font-style: italic;
    background-color: #CCDDFF;
}
table.skillTable {
    margin: 0;
    padding: 0  ;
}
table.skillTable td {
    min-width: 61px;
}

table.skillTable label  {
    width: 10   0px;
}

div.characterSheet table tbody td {
    width: 280.8px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    vertical-align: top;
}

div.characterSheet h4 {
    text-align: center;
}