.actioncards {
    display: block;
}

.actioncard {
    display: inline-block;
    width: 33%;
    height: 8cm;
    border: 1px dotted darkgray;
    padding: 0.25cm;
    overflow: hidden;
}

.actioncard h5 {
    min-height: .5cm;
}

.actioncard p i {
    min-height: 4cm;
}